body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: url();
}

header {
    background-color: #5383B8;
    text-align: center;
    height: 10vh;
    width: 100vw;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    display: none;
    max-width: 80px;
    max-height: 100px;
}

h1 {
    margin-top: 5px;
    font-family: "Pacifico", serif;
    font-weight: 500;
    font-style: normal;
}


#rabatt-text {
    margin-top: 0;
    margin-bottom: 0;
    color: #1C232B;
    font-family: "Kavoon", serif;
    font-size: smaller;
}

.varukorg-div {
    margin-left: auto;
}

.Kontakt-div,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

article img {
    width: 40vw;
    display: block;
    margin: auto;
}

main h2 {
    font-family: "Passion One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.5rem;
}

.Produkt-Rubrik{
    text-align: center;
    margin-top: 100px;
}

.Produkt-Beskrivning {
    max-width: 300px;
    text-align: center;
}

aside{
    margin-top: 60px;
    margin-bottom: 60px;
}