body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-image: url(img/Ljusare-Bakgrundsbild.webp);
    background-size: cover;
    background-position: center;
}

header {
    background-color: #5383B8;
    text-align: center;
    height: 10vh;
    width: 100vw;
}

header img {
    display: none;
    max-width: 80px;
    max-height: 100px;
}

h1 {
    margin-top: 5px;
    font-family: "Pacifico", serif;
    font-weight: 500;
    font-style: normal;
}

#start-bild{
    max-width: 70vw;
    margin-bottom: 3em;
    margin: 20px;
}

#rabatt-text {
    margin-top: 0;
    margin-bottom: 0;
    color: #1C232B;
    font-family: "Kavoon", serif;
    font-size: x-small;
}

#meny {
    margin-left: auto;
}

#meny-content{
    display: none;
}

#meny:focus-within > #meny-content{
    display: flex;
    flex-direction: column;
}

#Varukorg, #Logga-in{
    margin: 5px;
}

.Kontakt-div, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.Produkt-Bilderna {
    width: 40vw;
    margin-left: 20px;
    min-width: 250px;
    min-height: auto;
}

.Produkt-Bilderna:hover{
    transform: scale(1.1);
}

article{
    margin-bottom: 100px;
    text-align: center;
}

main h2 {
    font-family: "Passion One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.5rem;
}

.Produkt-Beskrivning {
    max-width: 300px;
}

aside{
    margin-bottom: 60px;
}